include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE/LICENSE
include LICENSE/LICENSE_LMFIT
include README.rst
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat

include versioneer.py
include _version.py
include pycentroids/_version.py
